*.o
*.info
*.info-[0-9]*
version.texi
Makefile
Makefile.in
.deps
.libs
*.doc
*.x
*.lo
*.la
*.exe
texinfo.tex
*~
,*
BUGS
Makefile
Makefile.in
aclocal.m4
benchmark-guile
check-guile
check-guile.log
confdefs.h
config.build-subdirs
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conftest
conftest.c
depcomp
elisp-comp
guile-*.tar.gz
install-sh
libtool
ltconfig
ltmain.sh
mdate-sh
missing
mkinstalldirs
pre-inst-guile
pre-inst-guile-env
stamp-h1
guile-procedures.txt
guile-config/guile-config
*.go
TAGS
gdb-pre-inst-guile
cscope.out
cscope.files
*.log
gds-test.debug
gds-test.transcript
INSTALL
*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.ky
*.pg
*.toc
*.tp
*.vr
*.tps
*.vrs
*.pgs
*.rn
*.rns
*.trs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/.sc-start-*
/.version
/autom4te.cache
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.rpath
/build-aux/test-driver
/doc/ref/standard-libraryscmfiles
/doc/ref/standard-library.texi
/examples/box/box
/examples/box-module/box
/lib/alloca.h
/lib/arpa/inet.h
/lib/charset.alias
/lib/configmake.h
/lib/dirent.h
/lib/fcntl.h
/lib/inttypes.h
/lib/iconv.h
/lib/langinfo.h
/lib/limits.h
/lib/link-warning.h
/lib/locale.h
/lib/math.h
/lib/netdb.h
/lib/poll.h
/lib/ref-add.sed
/lib/ref-del.sed
/lib/sched.h
/lib/signal.h
/lib/spawn.h
/lib/stdalign.h
/lib/stdckdint.h
/lib/stdint.h
/lib/stdio.h
/lib/stdlib.h
/lib/string.h
/lib/strings.h
/lib/sys/file.h
/lib/sys/select.h
/lib/sys/socket.h
/lib/sys/stat.h
/lib/sys/time.h
/lib/sys/times.h
/lib/sys/types.h
/lib/sys/uio.h
/lib/time.h
/lib/unistd.h
/lib/unistr/.dirstamp
/lib/unistr.h
/lib/unitypes.h
/lib/unused-parameter.h
/lib/wchar.h
/lib/wctype.h
/libguile/srfi-14.i.c
/libguile/vm-operations.h
/meta/build-env
/meta/gdb-uninstalled-guile
/meta/guild
/meta/guile
/meta/guile-3.0.pc
/meta/guile-3.0-uninstalled.pc
/meta/guile-config
/meta/uninstalled-env
/module/ice-9/eval.go.stamp
/po/
/test-suite/standalone/test-foreign-object-c
/test-suite/standalone/test-pthread-create
/test-suite/standalone/test-pthread-create-secondary
/test-suite/standalone/test-scm-c-bind-keyword-arguments
/test-suite/standalone/test-scm-spawn-thread
/test-suite/standalone/test-scm-to-latin1-string
/test-suite/standalone/test-scm-values
/test-suite/standalone/test-smob-mark
/test-suite/standalone/test-smob-mark-race
/test-suite/standalone/test-srfi-4
